*
!.dockerignore
!Dockerfile.headless
!opencode.docker.json
!Package.swift
!Package.resolved
!RepoPromptCore/
!RepoPromptCore/**
!RepoPromptHeadless/
!RepoPromptHeadless/**
!RepoPromptHeadlessServer/
!RepoPromptHeadlessServer/**
!RepoPromptPortableCLI/
!RepoPromptPortableCLI/**
!RepoPromptHeadlessTests/
!RepoPromptHeadlessTests/**
!RepoPromptPortableCLITests/
!RepoPromptPortableCLITests/**
