*
!.dockerignore
!Dockerfile.headless
!opencode.docker.json
!Package.swift
!Package.resolved
!RepoPromptCore/
!RepoPromptCore/**
!RepoPromptHeadless/
!RepoPromptHeadless/**
!RepoPromptHeadlessTests/
!RepoPromptHeadlessTests/**
